body {
  
  font-family: 'PT Sans', sans-serif;

  
  .selectDificult{

    h3{
    font-size: 1.5rem;
    }

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
